.products-list {
    width: 25%;
    margin: 50px 0px;
    // background-color: rgba(226, 224, 224, 0.4);

    // .list-row {
    //     cursor: pointer;
    //     &:hover {
    //         background-color: rgb(162, 171, 223);
    //     }
    // }

    &__form {
        position: absolute;
        top: 122px;
        width: 319px;
        display: flex;
        justify-content: space-around;
        z-index: 10;
    }

}
